
* {
    box-sizing: border-box;
    /* remove receding after */
    outline-width: 2px;
    outline-style: dashed;
    outline-color: red;
}
/*
*:hover { 
    display: none;
}
*/
html, body {
    margin: 0;
    padding: 0;
}

/* column of 12 */
[class*=col-] {
    content: "";
    display: block;
    clear: both;
}
.col-1 { width: 8.33333333%;}
.col-2 { width: 16.66666667%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33333333%;}
.col-5 { width: 41.66666667%;}
.col-6 { width: 50%;}
.col-7 { width: 58.3333333%;}
.col-8 { width: 67.66666667%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33333333%;}
.col-11 { width: 91.66666667%;}
.col-12 { width: 100%;}

:root { /* variables */
    --bgc-greenish: #7ed957; 
    --bgc-1stPanel: linear-gradient(to right, #0a0d13, rgba(10, 13, 19, .5));
    --bgc-2ndPanel: linear-gradient(to right, #737373, rgba(115, 115, 115, .5));
    --bgc-3rdPanel: #23242b;
    --bgc-4thPanel: #191919;
    --bgc-5thPanel: #000f16;
    --font-heading: "Cooper Hewitt", sans-serif;
    --font-paragraph: "work Sans", sans-serif;
    --fontSize-normal: 15px;
    --fontSize-small: 10px;
    --fontSize-normal: 10px;
    --opacity-low: 30%;
    --height-max: 100vh;/* screen_based */
}

/* header */
header {
    position: absolute;
    z-index: 1;
    background-color: #ffdd00;
    height: 3%;
}
header > span > span {
    font-size: 10px;
    font-family: var(--font-paragraph);
    margin: 0 0 0 10px;
}
header > span > .headerLocation::after {
    content: 'Sitio San Pedro, San Miguel, Natividad, Pangasinan'
}
header > span > .headerPhone::after {
    content: '(+63)-927-6164-642';
} 

/* Navigation */
nav {
    position: sticky;
    top: 0;
    right: 0;
    float: right;
    height: 0;
}
nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav li {
    height: 112px;
    width: 120px;
    white-space: nowrap;
    text-align: center;
    padding-top: 90px;
}
nav li:last-child {
    margin: 0 20px 0 0;
}
nav a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: var(--font-paragraph);
}



/* home */
.home {
    background-color: #7ed957;
    height: var(--height-max);
    font-size: 50px;
}
.home h3 {
    font-family: var(--font-heading);
}

/* about */
.about {
    height: var(--height-max);
}

/* services */
.services {
    height: var(--height-max);
}

/* projects */
.projects {
    height: var(--height-max);
}

/* contact_us */
.contact_us {
    height: var(--height-max);
}

/* footer */
footer {
    height: 3%;
}