
* {
    box-sizing: border-box;
    /* remove receding after */
    outline-width: 2px;
    outline-style: dashed;
    outline-color: red;
}
/*
*:hover { 
    display: none;
}
*/
html, body {
    margin: 0;
    padding: 0;
}

/* column of 12 */
[class*=col-] {
    content: "";
    display: block;
    clear: both;
}
.col-1 { width: 8.33333333%;}
.col-2 { width: 16.66666667%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33333333%;}
.col-5 { width: 41.66666667%;}
.col-6 { width: 50%;}
.col-7 { width: 58.3333333%;}
.col-8 { width: 67.66666667%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33333333%;}
.col-11 { width: 91.66666667%;}
.col-12 { width: 100%;}

:root { /* variables */
    --bgc-greenish: #7ed957; 
    --bgc-1stPanel: linear-gradient(to right, #0a0d13, rgba(10, 13, 19, .5));
    --bgc-2ndPanel: linear-gradient(to right, #737373, rgba(115, 115, 115, .5));
    --bgc-3rdPanel: #23242b;
    --bgc-4thPanel: #191919;
    --bgc-5thPanel: #000f16;
    --lineColor: #23242b;
    --textColor: #ffffe0;
    --font-heading: "Cooper Hewitt", sans-serif;
    --font-paragraph: "work Sans", sans-serif;
    --fontSize-heading: 52px;
    --fontSize-normal: 15px;
    --fontSize-small: 10px;
    --opacity-low: 30%;
    --height-max: 100vh;/* screen_based */
}

/* header */
header {
    position: absolute;
    z-index: 1;
    background-color: var(--bgc-5thPanel);
    height: 3%;
}
header > span > span {
    color: #ffffe0;
    font-size: 10px;
    font-family: var(--font-paragraph);
    margin: 0 0 0 10px;
}
header > span > .headerLocation::after {
    content: 'Sitio San Pedro, San Miguel, Natividad, Pangasinan'
}
header > span > .headerPhone::after {
    content: '(+63)-927-6164-642';
} 

/* Navigation */
nav {
    position: sticky;
    top: 0;
    right: 0;
    float: right;
    height: 0;
}
nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav li {
    height: 112px;
    width: 120px;
    white-space: nowrap;
    text-align: center;
    transition: 0.4s;
}
nav ul li:hover {
    background: var(--bgc-greenish);
}
nav ul li.active, nav ul li.activeOne, nav ul li.activeTwo, nav ul li.activeThree, nav ul li.activeFour {
    background: var(--bgc-greenish);
}
nav li:last-child {
    margin: 0 5vh 0 0;
}
nav a {
    height: 100%;
    padding-top: 12vh;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: var(--font-paragraph);
}

.lastWord, .firstWord {
    color: var(--bgc-greenish);
}

/* home */
.home {
    display: flex;
    height: var(--height-max);
}
.home > .backdrop {
    height: var(--height-max);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home > .backdrop::after {
    height: var(--height-max);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: yellow;
}
.home > .homeFirstHalf {
    margin: auto;
} 
.home > div > h3 {
    font-family: var(--font-heading);
    font-size: var(--fontSize-heading);
    margin: 0;
}
.home > div > p {
    font-family: var(--font-paragraph);
    font-size: var(--fontSize-normal);
    margin: 0;
}
.home > .homeSecondHalf {
    display: flex;
    justify-content: center;
    margin: auto;
}
.home > div > button {
    background-color: var(--bgc-greenish);
    color: #000f16;
    width: 168px;
    height: 74px;
    border-width: 2px;
    border-color: #000f16;
    border-style: dashed;
    border-radius: 52px;
}
.home > div > button:hover {
}

/* about */
.about {
    height: var(--height-max);
}

/* services */
.services {
    height: var(--height-max);
    background-color: var(--bgc-3rdPanel);
}

/* projects */
.projects {
    height: var(--height-max);
    background-color: var(--bgc-4thPanel);
}

/* contact_us */
.contact_us {
    height: var(--height-max);
    background-color: var(--bgc-5thPanel);
}

/* footer */
footer {
    position: absolute;
    top: 497vh;
    left: 45%;
    height: 3%;
    color: lightyellow;
    text-align: center;
}
footer::after {
    width: 1120px;
    height: 5px;
    background-color: var(--lineColor);

}
footer > h6 {
    margin: 10px 0 10px 0;
    padding: 0;
}