
* {
    box-sizing: border-box;
    /* remove receding after */
    outline-width: 2px;
    outline-style: dashed;
    outline-color: rgb(181, 190, 18);
}
/*
*:hover { 
    display: none;
}
*/
html, body {
    margin: 0;
    padding: 0;
}

/* column of 12 */
[class*=col-] {
    content: "";
    display: block;
    clear: both;
}
.col-1 { width: 8.33333333%;}
.col-2 { width: 16.66666667%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33333333%;}
.col-5 { width: 41.66666667%;}
.col-6 { width: 50%;}
.col-7 { width: 58.3333333%;}
.col-8 { width: 67.66666667%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33333333%;}
.col-11 { width: 91.66666667%;}
.col-12 { width: 100%;}

:root { /* variables */
    --bgc-greenish: #7ed957; 
    --bgc-1stPanel: linear-gradient(to right, #0a0d13, rgba(10, 13, 19, .5));
    --bgc-2ndPanel: linear-gradient(to right, #000000, rgba(115, 115, 115, .5));
    --bgc-3rdPanel: #23242b;
    --bgc-4thPanel: #191919;
    --bgc-5thPanel: #000f16;
    --lineColor: #23242b;
    --textColor: #ffffe0;
    --font-heading: "Cooper Hewitt", sans-serif;
    --font-paragraph: "work Sans", sans-serif;
    --fontSize-heading: 2.5em;
    --fontSize-normal: 15px;
    --fontSize-small: 10px;
    --opacity-low: 0.6;
    --height-max: 100vh;/* screen_based */
}

/* header */
header {
    position: absolute;
    z-index: 1;
    background-color: var(--bgc-5thPanel);
    height: 3%;
}
header > span > span {
    color: #ffffe0;
    font-size: 10px;
    font-family: var(--font-paragraph);
    margin: 0 0 0 10px;
}
header > span > .headerLocation::after {
    content: 'Sitio San Pedro, San Miguel, Natividad, Pangasinan'
}
header > span > .headerPhone::after {
    content: '(+63)-927-6164-642';
} 

/* Navigation */
nav {
    position: sticky;
    top: 0;
    right: 0;
    float: right;
    height: 0;
}
nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav li {
    height: 80px;
    width: 120px;
    white-space: nowrap;
    text-align: center;
    transition: 0.4s;
}
nav ul li:hover {
    background: var(--bgc-greenish);
}
nav ul .active {
    background: var(--bgc-greenish);
}
nav li:last-child {
    margin: 0 5vh 0 0;
}
nav a {
    height: 100%;
    padding-top: 8vh;
    text-decoration: none;
    color: var(--textColor);
    font-size: 15px;
    font-family: var(--font-paragraph);
}
nav a.active {
    color: #000f16;
}

.lastWord, .firstWord {
    color: var(--bgc-greenish);
}


.divider {
    height: 4rem;
    width: 150vh;
    overflow: hidden;
    background: #7ed957;
    margin: 0;
}

.home_about {

}



section {
    padding: 0;
    margin: 0;
}

/* home */
.home {
    display: flex;
    height: var(--height-max);
}
.home > .backdrop {
    height: calc(var(--height-max) + 50vh);
    width: 110%;
    position: absolute;
    top: -33vh;
    left: -10vh;
    z-index: -2;
    filter: brightness(.8);
}
.home > .opaqueBackdropHome {
    height: var(--height-max);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: var(--opacity-low);
    background: var(--bgc-1stPanel);
}
.home > .homeFirstHalf {
    margin: auto;
    padding: 7rem 0 0 3rem ;
} 
.home > div > h3 {
    font-family: var(--font-heading);
    font-size: var(--fontSize-heading);
    margin: 0;
}
.home > div > p {
    font-family: var(--font-paragraph);
    font-size: var(--fontSize-normal);
    margin: 0;
    color: var(--textColor);
}
.home > .homeSecondHalf {
    display: flex;
    justify-content: center;
    margin: auto;
}
.home > div > button {
    margin-top: 20vh;
    background-color: var(--bgc-greenish);
    color: #000f16;
    width: 8rem;
    height: 3rem;
    border-width: 2px;
    border-color: #000f16;
    border-style: none;
    border-radius: 52px;
}
.home > div > button:hover {
    cursor: pointer;
}

/* about */
.about {
    height: var(--height-max);
}
.about > .backdrop {
    height: calc(var(--height-max) + 35vh);
    width: 100%;
    position: absolute;
    top: 102vh;
    left: 0vh;
    z-index: -2;
    filter: brightness(.9);
}
.about > .opaqueBackdropAbout {
    height: var(--height-max);
    width: 100%;
    position: absolute;
    top: 100vh;
    right: 0;
    z-index: -1;
    opacity: var(--opacity-low);
    background: var(--bgc-2ndPanel);
}
.about > .aboutFirstHalf {
    height: var(--height-max);
    display: flex;
    justify-content: center;
    padding: 30% 5% 0 5%;
}
.about > div > .dividerLine {
    position: absolute;
    top: 150vh;
    background: var(--lineColor);
    width: 28rem;
    height: 1px;
}
.about p {
    font-family: var(--font-paragraph);
    font-size: var(--fontSize-normal);
    color: var(--textColor);
    text-align: justify;
}

/* services */
.services {
    height: var(--height-max);
    background-color: var(--bgc-3rdPanel);
}

/* projects */
.projects {
    height: var(--height-max);
    background-color: var(--bgc-4thPanel);
}
.projects > main > div > div > img {
    width: 227px;
    height: 129px;
}

/* contact_us */
.contact_us {
    height: var(--height-max);
    background-color: var(--bgc-5thPanel);
}

/* footer */
footer {
    position: absolute;
    top: 538vh;
    left: 40%;
    height: 3%;
    color: lightyellow;
    text-align: center;
}
footer > h6::after {
    position: absolute;
    top: 498vh;
    left: 45%;
    width: 1120px;
    height: 5px;
    background-color: var(--lineColor);
}
footer > h6 {
    padding: 0;
}